 <!-- NAVIGATION -->
<nav class="navbar-fixed-top" id="navigation">
   <div class="container">
      <div class="row-fluid">
         <div class="center">
            <!-- LOGO -->
            <a class="brand pull-left" href="./">
               <img src="Content/Images/Biff_logo_profile50x50.jpg" alt="Treble">
            </a>
            <!-- END LOGO -->
            <!-- MOBILE MENU BUTTON -->
            <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </div>
            <!-- END MOBILE MENU BUTTON -->
            <!-- MAIN MENU -->
            <ul id="main-menu" class="nav-collapse collapse mt-10">
                <li><a href="@Url.Action("Index","Home")#page-welcome">Home</a></li>
                <li><a href="@Url.Action("Index","Home")#page-about">Organizers</a></li>
                <li><a href="@Url.Action("Index","Festival")">Festival</a></li>
                <li><a href="@Url.Action("Index","Submission")">Submission</a></li>
                <li><a href="@Url.Action("Index","Home")#page-contact">Contact</a></li>

            </ul>
            <!-- END MAIN MENU -->

            <!-- SOCIAL ICONS -->
            <div class="social-icons mt-10 hover-big pull-right">
               <a  target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/brasovindiefest/" class="sicon-facebook"><i>Facebook</i></a>
               <a   target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/brasovindiefest/?hl=en" class="sicon-twitter"><i>Twitter</i></a>
               <a   target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCKGFqSY2eJr08GZHmpD3eoQ" class="sicon-linkedin"><i>LinkedIn</i></a>
            </div>
            <!-- END SOCIAL ICONS -->
         </div>
      </div>
   </div>
</nav>
<!-- END NAVIGATION -->